@media (max-width: 480px) {
  body {
    margin: 60px 20px;
    text-align: center;
  }
}

@media only screen and (min-width: 801px) {
  body {
    margin: 60px 100px;
  }
}
@media only screen and (min-width: 1190px) {
  body {
    margin: 60px 100px;
  }
}
