@media (min-width) {
}
img {
  margin: 20;
  padding: 20;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

@media (max-width: 480px) {
  img {
    margin: 30px auto;
    padding: 20;
  }
}
