@media (max-width: 480px) {
  nav {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 801px) {
  nav {
    margin: 0;
  }
}
@media only screen and (min-width: 1190px) {
  nav {
    margin: 0;
  }
}
