body {
  background: #e2dfda;
  color: #11232f;
  font-family: 'Amatic SC', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;

  line-height: 1.5;
  font-size: 112.5%;
  margin: 0;
  text-align: center;
  padding: 0;
}

header {
  background: #e2dfda;
  margin: 0;
  color: ivory;
  text-align: center;
  box-shadow: 0 1.5px 5px;
  overflow: hidden;
  padding: 0 0 40px;
}

main {
  margin: 0;
  padding: 0;
}

footer {
  background: #8d9e9e;
  border-radius: 20px 40px;
  margin: 0;
  color: #bb9c7f;
  text-align: center;
}

h1 {
  font-weight: lighter;
  color: #11232f;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}

h2 {
  border-radius: 20px 40px;
  background: #bb9c7f;
  font-weight: 100;
  font-size: 30px;
  margin: 45px 0;
}

h3 {
  font-weight: 100;
  margin: 30px 0px 0px;
}

a {
  text-decoration: none;
  color: ivory;
  font-weight: bold;
  border-bottom: 1px solid;
  margin: 30px;
  box-shadow: 0 1.5px 5px ivory;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0em;
}

figure {
  text-align: center;
}

ul {
  padding: 0;
  margin: 5px 20px 20px;
}

.Fotokasten {
  border-radius: 100px;
  margin: 70px 60px;
  color: black;
  text-align: center;
}

.style-aboutme {
  margin: 20px 40px;
}

.Kontakt {
  display: flex;
  text-align: center;
  margin: 10px;
  border: 1px solid;
  padding: 10px;
}

.contact-item {
  border-radius: 0px;
  margin: 1px;
  padding: 7px;
}

.flex {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  padding: 0;
}

.flexitem {
  background: #8d9e9e;
  border-radius: 50px;
  margin: 1px;
  padding: 7px;
}

.style-sprachkenntnisse {
  margin: 0 20px 0 40px;
  padding: 0 20px 0 40px;
}

.style-edvkenntnisse {
  margin: 0 20px 0 40px;
  padding: 0 20px 0 40px;
}
.style-sprachkenntnisse {
  margin: 0 20px 0 40px;
  padding: 0 20px 0 40px;
}

.cv-rahmen {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

.style-beruflicher-werdegang {
  margin: 0px 10px 0px 10px;
}

.style-studium {
  margin: 0px 20px 0px 0px;
  padding: 0 20px;
}
