/* 
Farbpalette
color: #11232f  (dunkelblau)
color: #2d4b56  (türkis dunkelblau)
color: #bb9c7f   (beige braun) 
color: #e2dfda   (weiß)
color: #ad6938   (dunkelbraun)
 */

@import 'base.css';
@import 'components/header.css';
@import 'components/body.css';
@import 'components/nav.css';
@import 'components/flexcontainer.css';
@import 'components/contact-style.css';
@import 'components/container-header.ss';
@import 'components/container-footer.css';
@import 'components/style-edvkenntnisse';
@import 'components/style-sprachkenntnisse';
@import 'components/style-beruflicherwerdegang.css';
@import 'components/style-weiterekenntnisse.css';
@import 'components/style-studium';
@import 'components/img.css';
