/* 
Farbpalette
color: #11232f  (dunkelblau)
color: #2d4b56  (türkis dunkelblau)
color: #bb9c7f   (beige braun) 
color: #e2dfda   (weiß)
color: #ad6938   (dunkelbraun)


*/

body {
  background: #e2dfda;
  color: #11232f;
  font-family: 'Amatic SC', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;

  line-height: 1, 5;
  font-size: 112, 5%;
  margin: 60px 20px;
  text-align: center;
}

header {
  /* 
  border: 1px solid;
  border-radius: 20px 40px;
  border-color: #11232f;
  margin: 0;
  color: black;
  text-align: center;*/

  background: #2d4b56;
  border-radius: 20px 40px;
  margin: 0;
  color: #e2dfda;
  text-align: center;
}

main {
  margin: 0;
  padding: 0;
}

footer {
  background: #8d9e9e;
  border-radius: 20px 40px;
  margin: 0;
  color: #bb9c7f;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  text-align: center;
}
h2 {
  xborder: 1px solid;
  border-radius: 20px 40px;
  background: #bb9c7f;
  font-weight: 100;
  font-size: 30px;
  margin: 45px 0;
}
h3 {
  font-weight: 100;
  margin: 30px 0px 0px;
}
a {
  text-decoration: none;
  color: #ad6938;
  border-bottom: 1px solid; /* damit die Unterstriche nicht unterbrochen werden*/
  margin: 30px;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0em;
}

img {
  margin: 20;
  padding: 20;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

figure {
  text-align: center;
}

ul {
  padding: 0;
}

-------header-box {
  box-shadow: 3px 3px red, -1em 0 0.4em olive;
}

.Fotokasten {
  border-radius: 100px;
  xbackground: #bb9c7f;
  margin: 30px;
  color: black;
  text-align: center;
}

.Kontakt {
  display: flex;
  text-align: center;
  margin: 10px;
  border: 1px solid;
  padding: 10px;
}

.flex {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  padding: 0;
}

.cv-rahmen {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

.contact-item {
  border-radius: 0px;
  margin: 1px;
  padding: 7px;
}

.flexitem {
  background: #8d9e9e;
  border-radius: 50px;
  margin: 1px;
  padding: 7px;
}

/*.Links { text-align: center;
    margin: 20;
    padding: 100 100;
    text-decoration: none;
    border-bottom: none;
}
.Logo {

}*/

input,
button {
  font-size: 1em;
} /* 1 em ist 1-fache der aktuell hervorherrschende Textgröße. Bezieht sich immer auf die aktuell vorherrschende Schriftgröße */

/* CSS-Styles, die nur auf Bildschirmen bis 480 Pixel Breite angewendet werden */

@media (max-width: 480px) {
  body {
    margin: 60px 20px;
    text-align: center;
  }

  header {
    margin: 0;
  }

  main {
    margin: 0;
    padding: 0;
  }

  footer {
    margin: 0;
  }

  h1 {
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin: 5px 0;
  }
  h2 {
    xborder: 1px solid;
    border-radius: 20px 40px;
    background: #bb9c7f;
    font-weight: 100;
    font-size: 30px;
    margin: 45px 0;
  }

  a {
    margin: 5px;
  }

  img {
    margin: 30px auto;
    padding: 20;
  }
}

/* CSS-Styles, die nur auf Bildschirmen bis 800 Pixel Breite angewendet werden */
@media (max-width: 800px) {
  body {
    margin: 80px 60px;
    text-align: center;
  }
}

/* CSS-Styles, die nur auf Bildschirmen mit einer Breite zwischen 801 und 1024 Pixeln angewendet werden */
@media only screen and (min-width: 801px) {
  body {
    background: #e2dfda;
    color: #11232f;
    font-family: 'Amatic SC', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;

    line-height: 1, 5;
    font-size: 112, 5%;
    margin: 60px 20px;
    text-align: center;
  }

  .container-header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .container-footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .contact-style {
    margin: 0px 50px;
  }

  .griditem-header {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .containerflex1 {
    display: flex;
  }

  .containerflex2 {
    display: flex;
  }

  .containerflex3 {
    display: flex;
  }

  .griditem-footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 12;
  }
}
